.admin-user-list {
  margin-top: 50px;
  .admin-user-detail {
    display: flex;
    div {
      width: 100px;
      margin: 10px;
    }
    button {
      width: 100px;
      height: 30px;
      background-color: #151436;
      color: #d4d4d4;
      border: none;
      border-radius: 5px;
    }
  }
}
